/* 

Pipeline

http://www.templatemo.com/tm-496-pipeline


Button BG purple 				#993366
Button hover BG dark purple 	#C33
Yellow 							#EAD53D
Gray 							#F4F4F4
Blue 							#0066CC
Red text 						#D66363
Paragraph text color 			#000

*/

.slides {
    padding: 0px;
    width: 1350px;
    height: 600px;
    display: block;
    margin: 0 0;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1400px;
    height: 600px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 100px;
    height: 600px;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

a:focus {
	color: #CCC;
	outline: none;
}

ul { 
	padding: 0;
	margin: 0; 
}

p {  line-height: 2; }
p:last-child { margin-bottom: 0; }

body {
	color: #000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 300;
	padding-top: 10px;
	overflow-x: hidden;
}

.tm-welcome-img { width: 700px; height: 400px; }

.tm-welcome-boxes-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;	
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;    
    position: static;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
}

.tm-welcome-box { 
	max-width: 900px;
	margin-top: 30px;
	width: 100%;
}

.tm-welcome-text {
	background-color: rgba(221, 221, 221, 0.35);
	padding: 30px;	
}

.tm-welcome-link {
	background-color: #2d3319;
	display: block;
	text-align: center;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.4rem;
}

.tm-purple-bg {
	background-color: #2d3319;
	color: white;
}

.tm-purple-bg .tm-section-title { color: white; }
.tm-gray-bg { background-color: #F4F4F4; }
.tm-blue-text { color: #3C89D6; }
.tm-red-text { color: #D66363; }
.tm-box-pad { padding: 45px 40px; }
.tm-bordered-box {
	border: 1px solid #2d3319;
}
.tm-no-border-top { border-top: none; }
.tm-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.tm-contact-left-half, .tm-contact-right-half { 
	-webkit-box-flex: 1; 
	-webkit-flex: 1; 
	    -ms-flex: 1; 
	        flex: 1;
	padding: 15px;
}

.tm-address-box { padding: 35px 30px 10px; }
.tm-contact-inner-pad { padding: 25px; }
.tm-nav-fa { margin-right: 30px; }


.tm-body { 
	margin-top: 20px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

.tm-main-nav {
	background-color: #2d3319;
	font-size: 1.4rem;
}

.tm-main-nav-ul {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.tm-nav-item {
	list-style: none;
	width: 100%;
}

.tm-nav-item-link {	
	padding: 30px;
	width: 100%;	
}

.tm-nav-item-link:focus { text-decoration: none; }

.tm-button,
.tm-button:focus {
	background-color: #2d3319;
	border: none;
	border-radius: 0;
	color: #fff;
	display: block;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.left-notify {
	border-bottom:solid #666;
	display:block;
	padding-top: 20px;
	padding-left: 5px;
	
}

.left-notfy li{
	padding: 10px;
	list-style-type: none;
	color: #000;
	display:block;
	
	
}
.left-notify li a{
	display:block;
	font-size: 16px;
	text-decoration:none;
	color:#000;
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
	margin-bottom: 20px;
}
.left-notify li a:hover{
	font-size:18px;
	cursor: pointer;
}
.tm-button:hover,
.tm-button.active {
	background-color: #517664;
	color: #EAD53D;
	text-decoration: none;
}

.tm-button-normal {
	display: inline-block;
	font-size: 1.2rem;
	padding: 15px 50px;    
}

.tm-section-title {
	color: #2d3319;
	font-weight: 300;
	margin-top: 0;
}

.tm-section-title {
	margin-bottom: 30px;
	font-size: 2.2rem;
}

.tm-banner-title { 
	font-size: 3.2rem;
	letter-spacing: 2px; 
}

.tm-banner {
	height: 600px;
	padding: 0;
}
	
.tm-banner-inner {
	border: 1px solid #993366;
	height: 100%;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
	
.tm-banner-title { 
	color: #993366;
	text-transform: uppercase;
}

.tm-services-description-container > * { width: 100%; }
.tm-services { justify-content: space-between; }

/*http://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items*/
.tm-gallery {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin: 0 -15px -30px;
}

.tm-gallery a {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

/* Firefox hack 
   https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
*/
@-moz-document url-prefix() { 
  	.grid figure {
		margin: 10px 1.1666%;	/* padding-bottom in % not working in FF, so use em instead. */
	}
}

.contact-form {	overflow: hidden; }

.form-control {
	border-radius: 0;
	font-size: 1em;	
}

.form-control:focus {
	border-color: #993366;
    box-shadow: inset 0 1px 1px rgba(153, 51, 102, .075),0 0 8px rgba(153, 51, 102, 0.45);
}

.form-group { margin-bottom: 20px; }

.tm-footer {
	color: #666;
	padding-top: 40px;
	padding-bottom: 40px;
}

#google-map {
    height: 360px;
    width: 100%;    
}

.tm-content-box-home { 
	position: relative; 
	margin-bottom: 63px;
}

.tm-content-box { margin-top: 60px; }
.tm-content-box:first-child { margin-top: 0; }
.tm-welcome-text { padding: 20px; }
.tm-welcome-boxes-container { width: 100%; }

.tm-flex {
	-webkit-flex-flow: column;
	    -ms-flex-flow: column;
	        flex-flow: column;
}

.tm-flex > div { flex: 1 1 auto; }
.tm-box-pad { padding: 35px 20px; }
.tm-services-img { margin: 0 auto; }

/*---------------*/
/*http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/*/
/***** Bubba *****/
/*---------------*/

.grid {
	position: relative;
	margin: -1.5rem auto;
	list-style: none;
	text-align: center;	
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	margin: 0 0 15px 0;
	background: #3085a3;
	text-align: center;
	cursor: pointer;	
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 1.5em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span { font-weight: 800; }

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-bubba { background: #9e5406; }

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {	opacity: 0.4; }

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	padding: 20px 1.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#gallery, .grid { overflow: hidden; }
.grid { margin: -15px; }


#work, #about, #team, 
#portfolio, #plan {
	padding-top: 90px;
	padding-bottom: 70px;
}

#team, #portfolio {
  text-align: center;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}


.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}

.social-icon li a {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin: 0 8px 14px 8px;
}

.social-icon li a:hover {
  background: #000000;
  color: #ffffff;
}




/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-rotating-plane {
  width: 40px;
  height: 40px;
  background-color: #ffa400;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }


/* navigation styles
/* ========================================== */
.custom-navbar {
    background: #000000;
    border: none;
    margin-bottom: 0;
    text-align: center;
}

.custom-navbar .navbar-brand  {
	border: 1px solid #ffffff;
	color: #ffffff;
	font-weight: 600;
	font-size: 24px;
	padding-top: 2px;
}

.custom-navbar .navbar-brand .navbar-toggle {
    background: #ffa400;
     padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.custom-navbar .nav li {
  
}    

.custom-navbar .nav li a {
	display: block;
	padding: 15px 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
 }

.custom-navbar .nav li a:hover {
  background: transparent;
}

.custom-navbar .nav > li > a:focus {
  background-color: transparent;
  color: #ffffff;
  outline: none;
}

.custom-navbar .nav li.active > a {
  border-bottom: 2px solid #ffffff;
}

.custom-navbar .navbar-toggle {
    border: none;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #ffa400;
    border-color: transparent;
}

@media(min-width:768px) {

    .custom-navbar {
         border-bottom: 1px solid rgba(250,250,250,0.3);
        padding: 16px;
       background: 0 0;
    }

    .custom-navbar.top-nav-collapse {
       padding: 16px;
      background: #000000;
      border-bottom: 0;
    }
}

@media (max-width: 767px) {

   .custom-navbar .nav li.active > a {
        border-bottom: 2px solid transparent !important;
        color: #ffa400;
    }

}


/* BxSlider Section Style
/* ========================================== */
.site-slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-slider ul li {
  float: left;
  margin: 0;
}

.bx-wrapper img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.bx-wrapper {
  background-color: #000000;
}

.bx-thumbnail-wrapper {
  background-color: #161616;
  text-align: center;
  margin-top: -1px;
  position: relative;
}

.caption-wrapper {
  position: relative;
}

.slider-caption {
  position: absolute;
  z-index: 988;
  bottom: 200px;
  color: #ffffff;
  display: inline-block;
  right: 0;
  left: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.slider-caption h2 {
  font-size: 48px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 24px;
}
.slider-caption p {
	font-size: 26px;
}

#bx-pager a {
  margin: 20px 10px 0 20px;
  padding: 0 0 40px 0;
  display: inline-block;
  opacity: 0.4;
  filter: alpha(opacity=40);
  outline: 0;
  border: 0;
}
#bx-pager a.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
#bx-pager a img {
  outline: 0;
  border: 0;
}

.bx-controls {
  position: relative;
}

.bx-controls-direction {
  position: absolute;
  text-align: right;
  bottom: 80px;
  right: -2px;
  z-index: 998;
}
.bx-controls-direction a {
  width: 40px;
  height: 40px;
  background-color: #ffa400;
  text-decoration: none;
  display: block;
  float: left;
  margin-right: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: white;
}


/* work section styles
/* ========================================== */
#work .col-md-4 {
  display: block;
  width: 100%;
  border: 4px solid transparent;
  padding: 42px;
  transition: all 0.4s linear;
}

#work .col-md-4:hover {
  border: 4px solid #000000;
}

#work h3 {
  font-size: 16px;
}

#work .col-md-4 hr {
  margin-left: 0;
}


/* about section styles
/* ========================================== */
#about {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	color: #000000;
}
#about h2 {
  padding-bottom: 20px;
}

#about .panel-group .panel, #about .panel {
  border-radius: 0;
}

#about .panel-heading {
  background: transparent;
  text-transform: uppercase;
  padding: 0;
}

#about .panel-title > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
}

#about .about-fact {
  margin-top: 82px;
  text-align: center;
  position: relative;
  display: block;
}

#about .border-right {
   border-right: 2px solid rgba(250,250,250,0.8);
}


/* team section styles
/* ========================================== */
#team {
  background: #fff;
}

#team h3 {
  color: #ffa400;
  font-size: 14px;
  font-weight: bold;
}

#team .team-wrapper .team-des {
	cursor: pointer;
	position: relative;
	bottom: 0;
	transition: all 0.4s ease-in-out;
	padding: 10px 10px 10px 10px;
	margin-top: 0px;
}

#team .team-wrapper:hover .team-des {
  background: #ffffff;
  bottom: 90px;
}

#team .team-wrapper .social-icon li a {
  font-size: 18px;
}

.section-title {
  border: 4px solid #000;
  padding: 50px;
  position: relative;
  text-align: center;
  margin-bottom: 92px;
}

.left-notify ul marquee{

	height: 450px;
	width: 240px;
}
	

@media (min-width: 524px) {
	.grid figure {
		width: 48%;
		margin: 1%;
	}

	/* Firefox hack 
   		https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
	*/
	@-moz-document url-prefix() { 
	  	.grid figure {
			margin: 8px 1%;	/* padding-bottom in % not working in FF, so use em instead. */
		}
	}
}

@media (max-width: 562px) and (min-width: 524px), (max-width: 870px) and (min-width: 800px) {
	figure.effect-bubba h2 { padding-top: 5%; }
}

@media (min-width: 800px) {
	.tm-welcome-boxes-container {
		flex-direction: row;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
	    	-ms-flex-align: stretch;
	        	align-items: stretch;
		position: absolute;
	    bottom: -63px;
	    left: 0;
	    right: 0;
		margin-left:210px;
	}
	.left-notify marquee{
	height: 210px;
	width: 300px;
}
.

	.tm-welcome-box { 
		max-width: 400px;
		width: 49%;
	}

	.tm-section-title { margin-bottom: 30px; }

	.tm-welcome-text { 
		background-color: rgba(255,255,255,0.8);
		padding: 40px;
	}

	.tm-content-box-home { margin-bottom: 126px; }

	.tm-flex {
		-webkit-flex-flow: row;
		    -ms-flex-flow: row;
		        flex-flow: row;
	}

	.tm-box-pad { padding: 45px 40px; }
	.tm-services-img { width: 300px; }	
	.tm-services { overflow: auto; }
	.tm-services-img-container { float: left; }
	.tm-services-description-container { margin-left: 300px; }

	.grid figure {
		width: 31%;
		height: auto;
		margin: 1.1666%;
	}

	/* Firefox hack 
   	https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
	*/
	@-moz-document url-prefix() { 
	  	.grid figure {
			margin: 10px 1.1666%;	/* padding-bottom in % not working in FF, so use em instead. */
		}
	}
}

@media (min-width: 992px) {
	.container-fluid { max-width: 1000px; }


	.tm-sidebar.sticky {
		position: fixed;
		top: 20px;
	}

	.tm-main-content { margin-left: 0px; }
	.tm-welcome-box { max-width: 440px; }
	.tm-welcome-text { 
		height: 245px;
		padding: 30px 20px; 
	}

	.tm-box-pad { padding: 30px; }
	.tm-welcome-boxes-container { width: 720px; margin-left:400px; } /* Need to hard code width for IE */

	.grid figure {
		width: 325px;
		height: 325px;
		margin: 11px;
	}

	.grid figure figcaption { padding: 2em;	}
}

@media (min-width: 1200px) {
	.container-fluid { max-width: 1400px; }

	
	.tm-main-content { margin-left: 0; }
	.tm-welcome-box { max-width: 300px; }
	.tm-welcome-text { padding: 20px; }
	.tm-section-title { margin-bottom: 20px; }
	.tm-box-pad { padding: 45px; }
	.tm-welcome-boxes-container { width: 700px; margin-left:500px; } /* Need to hard code width for IE */

	.grid figure { 
		width: 354px;
		height: 354px;
		margin: 42px;
	}

	.grid { margin: -10px; }
	.grid figure figcaption { padding: 1.5em; }
	figure.effect-bubba h2 { padding-top: 5%; }
}

@media (min-width: 1400px) {
	.container-fluid { max-width: 1500px; }

	.tm-main-content { margin-left: 0; }	
	.tm-welcome-box { max-width: 300px; }
	.tm-section-title { margin-bottom: 30px; }
	.tm-welcome-text { padding: 30px; }
	.tm-welcome-boxes-container { width: 800px; margin-left: 550px } /* Need to hard code width for IE */

	.grid figure { 
		width: 280px;
		height: 280px;
		margin: 45px;
	}

	.grid { margin: -15px; }

	figure.effect-bubba h2 { padding-top: 5%; }
	.grid figure figcaption { padding: 2em;	}
}

.tm-main-nav { 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -ms-flexbox; 
	display: flex;
	height: 100%; 
}

@media screen and (max-width: 564px) {
	.tm-banner-title { font-size: 2.8em; }
}
